.home {
  padding: 20px;
}

h1 {
  text-align: center;
}
.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}

.tab.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
}

button:hover {
  background-color: #0056b3;
} */

.edit-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.edit-form h2 {
  margin-top: 0;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input,
.edit-form select {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

.edit-form button {
  margin-top: 10px;
}
